@import url(//fonts.googleapis.com/css?family=Lato:300:400);



nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav {
    border-radius: 4px;
    display: flex; /* flex-контейнер */
    justify-content: center; 
    align-items: center; /* Вирівнювання по вертикалі по центру */
    margin-top: 400px; /* Відступ від верхнього краю сторінки */
}

.nav-button {
    background-color: #6a94b2; /* Колір кнопок */
    font-family: 'Montserrat', sans-serif;
}

nav a {
    display: inline-block;
    padding: 60px 120px; /* Розмір кнопок */
    color: #fff;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    border-radius: 4px;
    line-height: 2em;
    text-align: center;
}


html, body {
    height: 100%;
}

body {
    background-image: url("src/img/menu2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* фіксований беграунд */
    height: 100vh; /* висота фона = висоті екрану */
    margin: 0;
}

.icon_teacher {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url("src/img/teacher3rev.png");
    background-size: cover;
    margin-right: 8px;
    transition: transform 0.2s ease-in-out;
}

.icon_teacher:hover {
    transform: translate(0, -2px);
}

.icon_student {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url("src/img/student3rev.png");
    background-size: cover;
    margin-right: 8px;
    transition: transform 0.2s ease-in-out;
}
.icon_student:hover {
    transform: translate(0, -2px);
}

li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}
